/* ### LAYOUT: ### */

*, html, body {
  font-family: 'Helvetica', sans-serif;
  font-size: 100%;
  height: auto;
  margin: 0px;
  padding: 0px;
  position: relative;
}

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  height: 100%;
  width: 100%;
}

h1 {
  font-size: 30px;
  line-height: 50px;
  margin: 20px auto 20px auto;
  text-align: center;
}

p {
  font-size: 20px;
  line-height: 30px;
  text-align: center;
}

a {
  font-weight: bold;
  letter-spacing: 1px;
}

div.city {
  background: #f2f2f2;
  margin: 30px 0px 30px 0px;
  padding: 30px;
}
